# Model Exploration

This notebook contains details about the model building phase. In this notebook, we have compared the performance of ~15 different Machine Learning Classifiers using 10-fold Cross Validation. Based on a criteria, 3 models were shortlisted and these models plus their soft-voting ensemble was then tuned using Randomized Grid Search and their performance was evaluated on the holdout set to select the best performing model.
For Data analysis please refer to the *Data Analysis* notebook in the repository.

Since the objective is to rank a set of transactions by likelihood of matching a receipt image, we would be restricted to binary classifiers that predict class probability instead of the class label. That is, models which have the *predict_proba()* method can only be used.

To handle the complete process of model building (training various models and evaluating performance using CV, tuning hyperparameters, testing performance, etc.) we will be making use of a library called [pycaret](https://pycaret.org/). The same process could have been done manually as well, but I chose to use the library instead. Please refer to the documentation of the library for more details!

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_cleaned = pd.read_csv("df_cleaned.csv")
df_cleaned.head()

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,is_match
0,"10,001",10000,"10,605","10,596",0.0,0.4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,"10,001",10000,"10,605","10,597",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2,"10,001",10000,"10,605","10,598",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0
3,"10,001",10000,"10,605","10,599",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,"10,001",10000,"10,605","10,600",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [23]:
#model_features_and_response_cols = [ 'DateMappingMatch', 'AmountMappingMatch',
 #      'DescriptionMatch', 'DifferentPredictedTime', 'TimeMappingMatch',
  #     'PredictedNameMatch', 'ShortNameMatch', 'DifferentPredictedDate',
   #    'PredictedAmountMatch', 'PredictedTimeCloseMatch', 'is_match']

In [22]:
#from sklearn.model_selection import train_test_split
#training_with_ids, holdout_with_ids = train_test_split(df_cleaned,train_size=0.8,random_state=26)

In [21]:
#training = training_with_ids[model_features_and_response_cols]
#holdout = holdout_with_ids[model_features_and_response_cols]

In [20]:
df_modeling = df_cleaned.set_index(['receipt_id', 'company_id', 'matched_transaction_id',
       'feature_transaction_id'])
df_modeling.head()

                                                                     DateMappingMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                               0.0
                                             10,597                               0.0
                                             10,598                               0.0
                                             10,599                               0.0
                                             10,600                               0.0

                                                                     AmountMappingMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                                 0.4
                                             10,597                                 0.0
                                             10,598                                 0.0
                                             10,599                                 0.0
                                             10,600                                 0.0

                                                                     DescriptionMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                               0.0
                                             10,597                               0.0
                                             10,598                               0.0
                                             10,599                               0.0
                                             10,600                               0.0

                                                                     DifferentPredictedTime  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                                     1.0
                                             10,597                                     1.0
                                             10,598                                     1.0
                                             10,599                                     1.0
                                             10,600                                     1.0

                                                                     TimeMappingMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                               0.0
                                             10,597                               0.0
                                             10,598                               0.0
                                             10,599                               0.0
                                             10,600                               0.0

                                                                     PredictedNameMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                                 0.0
                                             10,597                                 0.0
                                             10,598                                 0.0
                                             10,599                                 0.0
                                             10,600                                 0.0

                                                                     ShortNameMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                             0.0
                                             10,597                             0.0
                                             10,598                             0.0
                                             10,599                             0.0
                                             10,600                             0.0

                                                                     DifferentPredictedDate  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                                     1.0
                                             10,597                                     1.0
                                             10,598                                     1.0
                                             10,599                                     1.0
                                             10,600                                     1.0

                                                                     PredictedAmountMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                                   0.0
                                             10,597                                   0.0
                                             10,598                                   0.0
                                             10,599                                   0.0
                                             10,600                                   0.0

                                                                     PredictedTimeCloseMatch  \
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                                      0.0
                                             10,597                                      0.0
                                             10,598                                      0.0
                                             10,599                                      0.0
                                             10,600                                      0.0

                                                                     is_match
receipt_id company_id matched_transaction_id feature_transaction_id
10,001     10000      10,605                 10,596                         0
                                             10,597                         0
                                             10,598                         0
                                             10,599                         0
                                             10,600                         0

In [24]:
from pycaret.classification import *

In [25]:
exp_clf101 = setup(data = df_modeling, target = 'is_match', session_id=26)

In [26]:
compare_models()
# Results are calculated using 10-fold cross-validation

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=26, verbose=0,
                     warm_start=False)

We select top 3 models from here which would further be improved via hyperparameter tuning. The conditions kept in mind while selecting models are:
- It should support predicting probabilities (should have the *predict_proba()* method)
- It should be performing well on training set (the results present above)
- Finally, since we also plan to create a soft-voting ensemble of models, the way the algorithms work should be as different as possible. This would help us create a diverse ensemble.

Keeping all these considerations in mind, the following models have been shortlisted:
- XGBoost
- Random Forest
- Naive Bayes

## XGBoost

In [27]:
xgboost = create_model('xgboost')
# Hyperparameter Optimization using Randomized Grid Search
tuned_xgboost = tune_model(xgboost)
print(tuned_xgboost)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.9, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.0005, max_delta_step=0, max_depth=9,
              min_child_weight=2, missing=nan, monotone_constraints='()',
              n_estimators=20, n_jobs=-1, num_parallel_tree=1,
              objective='binary:logistic', random_state=26, reg_alpha=0.0005,
              reg_lambda=1e-07, scale_pos_weight=2.1, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0)

As we can see the tuned model actually performs much better on out-of-sample data as compared to an un-tuned model.

In [28]:
# Testing the performance on sample held out from the model during training and validation phases
predict_model(tuned_xgboost);

## Random Forest

In [29]:
rf = create_model('rf')
# Hyperparameter Optimization using Randomized Grid Search
tuned_rf = tune_model(rf)
print(tuned_rf)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight={},
                       criterion='gini', max_depth=7, max_features=1.0,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.001, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, n_estimators=240,
                       n_jobs=-1, oob_score=False, random_state=26, verbose=0,
                       warm_start=False)

In [30]:
predict_model(tuned_rf);

## Naive Bayes

In [31]:
nb = create_model('nb')
tuned_nb = tune_model(nb)
print(tuned_nb)

GaussianNB(priors=None, var_smoothing=0.006)

In [32]:
predict_model(tuned_nb);

## Soft Voting Ensemble Classifier
This model combines probability predictions from the 3 models to output the class with the highest avg probability

In [33]:
blend_soft = blend_models(estimator_list = [tuned_xgboost, tuned_rf, tuned_nb], method = 'soft')

In [34]:
predict_model(blend_soft);

XGBoost seems to be delivering the best AUC, but we are more interested in the model with the best precision-recall balance (F1-score) because this is an imbalanced classification problem. Luckily, XGBoost performs best in this regard as well!

The tuned XGBoost clearly seems to be performing the best --in terms of F1 scores on both training and out-of-sample data-- amongst all the 4 classifiers, so we move forward with XGBoost as our final model